<title>弹层组件 - UI示例</title>

<div class="page animation-fade">
    <div class="page-header">
        <h1 class="page-title">Bootbox &amp; Sweetalert</h1>
    </div>
    <div class="page-content">

        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Bootbox
                    <small>
                        <a class="example-plugin-link" href="https://github.com/makeusabrew/bootbox" target="_blank">
                            官网
                        </a>
                    </small>
                </h3>
            </div>
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-md-5">

                        <div class="example-wrap m-md-0">
                            <h4 class="example-title">示例</h4>
                            <div class="example example-buttons">
                                <button class="btn btn-outline btn-default" data-type="alert" data-message="你好!"
                                        data-plugin="bootbox" data-callback="exampleBootboxAlertCallback" type="button">
                                    Alert
                                </button>
                                <button class="btn btn-outline btn-default" data-type="confirm" data-message="确定要执行此操作吗?"
                                        data-plugin="bootbox" data-callback="exampleBootboxConfirmCallback" type="button">
                                    Confirm
                                </button>
                                <button class="btn btn-outline btn-default" data-type="prompt" data-title="请输入姓名"
                                        data-plugin="bootbox" data-callback="exampleBootboxPromptCallback" type="button">
                                    Prompt
                                </button>
                                <button class="btn btn-outline btn-default" id="exampleBootboxPromptDefaultValue" type="button">
                                    带默认值的 Prompt
                                </button>
                                <button class="btn btn-outline btn-default" id="exampleBootboxCustomDialog" type="button">
                                    自定义对话框
                                </button>
                                <button class="btn btn-outline btn-default" id="exampleBootboxCustomHtmlContents" type="button">
                                    自定义 HTML 内容
                                </button>
                                <button class="btn btn-outline btn-default" id="exampleBootboxCustomHtmlForms" type="button">
                                    自定义 HTML 表单
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-7">

                        <div class="example-wrap">
                            <h4 class="example-title">动画</h4>
                            <div class="example example-buttons">
                                <button class="btn btn-outline btn-default" data-plugin="bootbox" data-title="Bootbox 演示"
                                        data-message="自定义动画演示" data-classname="modal-fade-in-scale-up" type="button">
                                    Fade in &amp; Scale
                                </button>
                                <button class="btn btn-outline btn-default" data-plugin="bootbox" data-title="Bootbox 演示"
                                        data-message="自定义动画演示" data-classname="modal-slide-in-right" type="button">
                                    Slide in from right
                                </button>
                                <button class="btn btn-outline btn-default" data-plugin="bootbox" data-title="Bootbox 演示"
                                        data-message="自定义动画演示" data-classname="modal-slide-from-bottom" type="button">
                                    Slide in from bottom
                                </button>
                                <button class="btn btn-outline btn-default" data-plugin="bootbox" data-title="Bootbox 演示"
                                        data-message="自定义动画演示" data-classname="modal-newspaper" type="button">
                                    Newspaper
                                </button>
                                <button class="btn btn-outline btn-default" data-plugin="bootbox" data-title="Bootbox 演示"
                                        data-message="自定义动画演示" data-classname="modal-fall" type="button">
                                    Fall
                                </button>
                                <button class="btn btn-outline btn-default" data-plugin="bootbox" data-title="Bootbox 演示"
                                        data-message="自定义动画演示" data-classname="modal-side-fall" type="button">
                                    Side Fall
                                </button>
                                <button class="btn btn-outline btn-default" data-plugin="bootbox" data-title="Bootbox 演示"
                                        data-message="自定义动画演示" data-classname="modal-3d-flip-horizontal" type="button">
                                    3D Flip horizontal
                                </button>
                                <button class="btn btn-outline btn-default" data-plugin="bootbox" data-title="Bootbox 演示"
                                        data-message="自定义动画演示" data-classname="modal-3d-flip-vertical" type="button">
                                    3D Flip vertical
                                </button>
                                <button class="btn btn-outline btn-default" data-plugin="bootbox" data-title="Bootbox 演示"
                                        data-message="自定义动画演示" data-classname="modal-3d-sign" type="button">
                                    3D Sign
                                </button>
                                <button class="btn btn-outline btn-default" data-plugin="bootbox" data-title="Bootbox 演示"
                                        data-message="自定义动画演示" data-classname="modal-super-scaled" type="button">
                                    Super Scaled
                                </button>
                                <button class="btn btn-outline btn-default" data-plugin="bootbox" data-title="Bootbox 演示"
                                        data-message="自定义动画演示" data-classname="modal-just-me" type="button">
                                    Just Me
                                </button>
                                <button class="btn btn-outline btn-default" data-plugin="bootbox" data-title="Bootbox 演示"
                                        data-message="自定义动画演示" data-classname="modal-3d-slit" type="button">
                                    3D Slit
                                </button>
                                <button class="btn btn-outline btn-default" data-plugin="bootbox" data-title="Bootbox 演示"
                                        data-message="自定义动画演示" data-classname="modal-rotate-from-bottom" type="button">
                                    3D Rotate Bottom
                                </button>
                                <button class="btn btn-outline btn-default" data-plugin="bootbox" data-title="Bootbox 演示"
                                        data-message="自定义动画演示" data-classname="modal-rotate-from-left" type="button">
                                    3D Rotate In Left
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Sweet Alert
                    <small>
                        <a class="example-plugin-link" href="http://lipis.github.io/bootstrap-sweetalert/" target="_blank">
                            官网
                        </a>
                    </small>
                </h3>
            </div>
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-lg-6 col-md-12">
                        <div class="example example-well h-350">
                            <img class="center" src="/static/images/sweet-alert.png" alt="...">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <div class="example-wrap">
                            <h4 class="example-title">常用</h4>
                            <div class="example example-buttons">
                                <button type="button" class="btn btn-outline btn-default" id="exampleBasic" data-plugin="sweetalert"
                                        data-title="这里是消息内容！">
                                    基本
                                </button>
                                <button type="button" class="btn btn-outline btn-default" id="exampleCloseTimer"
                                        data-plugin="sweetalert" data-title="自定关闭" data-text="对话框将会在 2 秒以后自定关闭" data-timer="2000">
                                    定时关闭
                                </button>
                                <button type="button" class="btn btn-outline btn-default" id="exampleTitleText"
                                        data-plugin="sweetalert" data-title="这是一个消息框" data-text="非常漂亮，不是吗？">
                                    标题
                                </button>
                                <button type="button" class="btn btn-outline btn-default" id="exampleSuccessMessage"
                                        data-plugin="sweetalert" data-title="干的漂亮" data-text="您单击了按钮！" data-type="success">
                                    成功提示
                                </button>
                                <button type="button" class="btn btn-outline btn-default" id="exampleCustomIcon"
                                        data-plugin="sweetalert" data-title="非常好！" data-text="这里是自定义图片" data-image-url="http://i.imgur.com/4NZ6uLY.jpg">
                                    自定义图标
                                </button>
                            </div>
                            <p>在确定按钮上使用函数</p>
                            <div class="example">
                                <button type="button" class="btn btn-outline btn-default" id="exampleWarningConfirm">
                                    显示
                                </button>
                            </div>
                            <p>通过传参，给取消按钮添加行为。 </p>
                            <div class="example">
                                <button type="button" class="btn btn-outline btn-default" id="exampleWarningCancel">显示
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="/vendor/bootbox.js/dist/bootbox.all.min.js"></script>
<script src="/lib/bootstrap-sweetalert/dist/sweetalert.js"></script>

<script>
/**
 * QAdmin v1.2.0 (http://www.qadmin.com/)
 * Copyright 2015-2017 QAdmin Team
 * Licensed under the QAdmin License 1.0 (http://www.qadmin.com/about/#license)
 */
 (function (document, window, $) {
    'use strict';

    window.Content = {
        run: function () {
            window.exampleBootboxAlertCallback = function () {
                toastr.info("你好，回调函数");
            };

            window.exampleBootboxConfirmCallback = function (result) {
                toastr.info("Confirm 结果：" + result);
            };

            window.exampleBootboxPromptCallback = function (result) {
                if (result === null) {
                    toastr.info("Prompt 取消");
                } else {
                    toastr.info("嗨，<b>" + result + "</b>");
                }
            };

            // 示例
            // ----------------
            (function () {
                var $pageContent = $('#qadmin-pageContent');
                bootbox.setDefaults($.po('bootbox'));

                $pageContent.on('click', '#exampleBootboxPromptDefaultValue', function () {
                    bootbox.prompt({
                        title: "你叫什么名字？",
                        value: "QAdmin",
                        callback: function (result) {
                            if (result === null) {
                                toastr.info("Prompt 取消");
                            } else {
                                toastr.info("嗨，<b>" + result + "</b>");
                            }
                        }
                    });
                });

                $pageContent.on('click', '#exampleBootboxCustomDialog', function () {
                    bootbox.dialog({
                        message: "我是一个自定义对话框",
                        title: "自定义标题",
                        buttons: {
                            success: {
                                label: "成功",
                                className: "btn-success",
                                callback: function () {
                                    toastr.info("成功了！");
                                }
                            },
                            danger: {
                                label: "警告",
                                className: "btn-danger",
                                callback: function () {
                                    toastr.info("出问题了！");
                                }
                            },
                            main: {
                                label: "单击我",
                                className: "btn-primary",
                                callback: function () {
                                    toastr.info("Primary 按钮");
                                }
                            }
                        }
                    });
                });

                $pageContent.on('click', '#exampleBootboxCustomHtmlContents', function () {
                    bootbox.dialog({
                        title: "使用 HTML",
                        message: '<p>您可以使用 <b>html</b></p>'
                    });
                });

                $pageContent.on('click', '#exampleBootboxCustomHtmlForms', function () {
                    bootbox.dialog({
                        title: "这是一个含表单的弹框",
                        message: '<form class="form-horizontal">' +
                        '<div class="form-group">' +
                        '<label class="col-md-4 control-label" for="name">姓名</label>' +
                        '<div class="col-md-6">' +
                        '<input type="text" class="form-control input-md" id="name" name="name" placeholder="请输入姓名"> ' +
                        '<span class="help-block">这里填写您的姓名</span></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                        '<label class="col-md-4 control-label" for="awesomeness">性别</label>' +
                        '<div class="col-md-6"><div class="radio-custom radio-primary">' +
                        '<input type="radio" name="sex" id="awesomeness-0" value="male" checked>' +
                        '<label for="awesomeness-0">男 </label>' +
                        '</div><div class="radio-custom radio-primary">' +
                        '<input type="radio" name="sex" id="awesomeness-1" value="female">' +
                        '<label for="awesomeness-1">女 </label>' +
                        '</div>' +
                        '</div></div>' +
                        '</form>',
                        buttons: {
                            success: {
                                label: "保存",
                                className: "btn-success",
                                callback: function () {
                                    var name = $('#name').val();
                                    var answer = $("input[name='sex']:checked").val();
                                    toastr.info("Hi，" + name + "，您选择了 <b>" + answer + "</b>");
                                }
                            }
                        }
                    });
                });
            })();

            // 样式
            // --------------
            (function () {
                var $pageContent = $('#qadmin-pageContent');

                $pageContent.on("click", '#exampleWarningConfirm', function () {
                    swal($.po('sweetalert', {
                            title: "您确定要这样做吗？",
                            text: "删除此文件后将无法恢复！",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: '#DD6B55',
                            confirmButtonText: '删除',
                            closeOnConfirm: false
                            //closeOnCancel: false
                        }),
                        function () {
                            swal("已删除！", "文件删除成功", "success");
                        });
                });

                $pageContent.on("click", '#exampleWarningCancel', function () {
                    swal($.po('sweetalert', {
                            title: "您确定要这样做吗？",
                            text: "删除此文件后将无法恢复！",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: '#DD6B55',
                            confirmButtonText: '删除',
                            cancelButtonText: "取消",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        }),
                        function (isConfirm) {
                            if (isConfirm) {
                                swal("已删除！", "文件已删除", "success");
                            } else {
                                swal("已取消操作！", "您取消了删除文件的操作", "error");
                            }
                        });
                });
            })();
        }
    };

})(document, window, jQuery);
</script>
