<title>表单编辑</title>

<link rel="stylesheet" href="/vendor/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css">
<link rel="stylesheet" href="/lib/typeahead-js/typeahead.css">
<link rel="stylesheet" href="/lib/select2/dist/css/select2.css">

<div class="page page-full animation-fade page-forms">
    <div class="page-header">
        <h1 class="page-title">表单编辑</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a>首页</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript:;">表单</a>
            </li>
            <li class="breadcrumb-item active">表单编辑</li>
        </ol>
        <div class="page-header-actions">
            <a class="btn btn-default btn-outline btn-round" href="http://github.com/vitalets/x-editable" target="_blank">
                <i class="icon wb-link" aria-hidden="true"></i> <span class="hidden-xs">官网</span>
            </a>
        </div>
    </div>
    <div class="page-content">
        <div class="panel">
            <header class="panel-heading">
                <h3 class="panel-title">
                    X-Editable（各种问题） <span class="panel-desc">单击编辑</span>
                </h3>
            </header>
            <div class="panel-body">
                <button class="btn btn-primary btn-outline margin-bottom-10" id="editableEnable" type="button">启用 / 停用
                </button>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="editableUser">
                        <tbody>
                        <tr>
                            <td style="width:35%">input</td>
                            <td style="width:65%">
                                <a id="editableSuperuser" href="javascript:void(0)" data-type="text" data-pk="1" data-title="请输入用户名">
                                    qadmin
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>input（必填）</td>
                            <td>
                                <a id="editableFirstname" href="javascript:void(0)" data-type="text" data-pk="1" data-placement="right" data-placeholder="必填项" data-title="请输入用户名"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>select</td>
                            <td>
                                <a id="editableSex" href="javascript:void(0)" data-type="select" data-pk="1" data-value="" data-title="选择性别"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Combodate（日期）</td>
                            <td>
                                <a id="editableDob" href="javascript:void(0)" data-type="combodate" data-value="1984-05-15" data-format="YYYY-MM-DD" data-viewformat="YYYY/MM/DD" data-template="YYYY - MM - DD" data-pk="1" data-title="选择出生日期"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Combodate（时间）</td>
                            <td>
                                <a id="editableEvent" href="javascript:void(0)" data-type="combodate" data-template="YYYY - MM - DD  HH:mm" data-format="YYYY/MM/DD HH:mm" data-viewformat="YYYY-MM-DD, HH:mm" data-pk="1" data-title="请选择时间"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>文本框、按钮，按<i>ctrl+enter</i>提交</td>
                            <td>
                                <a id="editableComments" href="javascript:void(0)" data-type="textarea" data-pk="1" data-placeholder="说点什么吧" data-title="请输入评论">啦啦啦</a>
                            </td>
                        </tr>
                        <tr>
                            <td>typeahead.js</td>
                            <td>
                                <a id="editableState2" href="javascript:void(0)" data-type="typeaheadjs" data-pk="1" data-placement="right" data-title="请输入"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>复选框</td>
                            <td>
                                <a id="editableFruits" href="javascript:void(0)" data-type="checklist" data-value="2,3" data-title="选择您喜爱的水果"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>自定义，多个字段</td>
                            <td>
                                <a id="editableAddress" href="javascript:void(0)" data-type="address" data-pk="1" data-title="请填写地址"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/vendor/select2/dist/js/select2.full.min.js" data-name="select2"></script>
<script src="/vendor/select2/dist/js/i18n/zh-CN.js" data-deps="select2"></script>
<script src="/vendor/moment/min/moment.min.js" data-deps="select2"></script>
<script src="/vendor/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js" data-name="editable"></script>
<script src="/vendor/typeahead.js/dist/bloodhound.min.js" data-deps="editable"></script>
<script src="/vendor/typeahead.js/dist/typeahead.jquery.min.js" data-deps="editable"></script>
<script src="/lib/typeahead-js/typeaheadjs.min.js" data-deps="editable"></script>
<script src="/vendor/x-editable/dist/inputs-ext/address/address.js" data-deps="editable"></script>

<script>
/**
 * QAdmin v1.2.0 (http://www.qadmin.com/)
 * Copyright 2015-2017 QAdmin Team
 * Licensed under the QAdmin License 1.0 (http://www.qadmin.com/about/#license)
 */
(function (document, window, $) {
    'use strict';

    window.Content = {
        run: function(){
            //禁用 / 启用
            $('#editableEnable').click(function () {
                $('#editableUser .editable').editable('toggleDisabled');
            });


            var init_x_editable = function () {

                $.fn.editableform.buttons =
                    '<button type="submit" class="btn btn-primary btn-sm editable-submit">' +
                    '<i class="icon wb-check" aria-hidden="true"></i>' +
                    '</button>' +
                    '<button type="button" class="btn btn-default btn-sm editable-cancel">' +
                    '<i class="icon wb-close" aria-hidden="true"></i>' +
                    '</button>';

                $.fn.editabletypes.datefield.defaults.inputclass = "form-control input-sm";

                //defaults
                $.fn.editable.defaults.url = $.ctx + '/post';

                //editables
                $('#editableSuperuser').editable({
                    url: $.ctx + '/post',
                    type: 'text',
                    pk: 1,
                    name: 'username',
                    title: '请输入用户名'
                });

                $('#editableFirstname').editable({
                    validate: function (value) {
                        if ($.trim(value) === '') {
                            return '必填';
                        }
                    }
                });

                $('#editableSex').editable({
                    prepend: "请选择",
                    source: [{
                        value: 1,
                        text: '男'
                    }, {
                        value: 2,
                        text: '女'
                    }],
                    display: function (value, sourceData) {
                        var colors = {
                                "": "gray",
                                1: "green",
                                2: "blue"
                            },
                            elem = $.grep(sourceData, function (o) {
                                return o.value === value;
                            });

                        if (elem.length) {
                            $(this).text(elem[0].text).css("color", colors[value]);
                        } else {
                            $(this).empty();
                        }
                    }
                });


                $('#editableVacation').editable({
                    datepicker: {
                        todayBtn: 'linked'
                    }
                });

                $('#editableDob').editable();

                $('#editableEvent').editable({
                    placement: 'right',
                    combodate: {
                        firstItem: 'name'
                    }
                });

                $('#editableMeetingStart').editable({
                    format: 'yyyy-mm-dd hh:ii',
                    viewformat: 'yyyy/mm/dd hh:ii',
                    validate: function (v) {
                        if (v && v.getDate() === 10) {
                            return '日期不能为10！';
                        }
                    },
                    datetimepicker: {
                        todayBtn: 'linked',
                        weekStart: 1
                    }
                });

                $('#editableComments').editable({
                    showbuttons: 'bottom'
                });

                $('#editableNote').editable();
                $('#editablePencil').click(function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $('#editableNote').editable('toggle');
                });

                $('#editableState').editable({
                    source: ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Dakota", "North Carolina", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]
                });

                var editableStates = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Dakota", "North Carolina", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"],
                    states = new Bloodhound({
                        datumTokenizer: Bloodhound.tokenizers.whitespace,
                        queryTokenizer: Bloodhound.tokenizers.whitespace,
                        local: editableStates
                    });
                $('#editableState2').editable({
                    value: 'California',
                    typeahead: {
                        options: {
                            hint: true,
                            highlight: true,
                            minLength: 1
                        },
                        datasets: {
                            name: 'states',
                            source: states
                        }
                    }
                });

                $('#editableFruits').editable({
                    pk: 1,
                    limit: 3,
                    source: [{
                        value: 1,
                        text: '香蕉'
                    }, {
                        value: 2,
                        text: '桃子'
                    }, {
                        value: 3,
                        text: '苹果'
                    }, {
                        value: 4,
                        text: '西瓜'
                    }, {
                        value: 5,
                        text: '橘子'
                    }]
                });


                $('#editableAddress').editable({
                    url: $.ctx + '/post',
                    value: {
                        city: "上海",
                        street: "人民大道",
                        building: "12"
                    },
                    validate: function (value) {
                        if (value.city === '') {
                            return '请选择城市';
                        }
                    },
                    display: function (value) {
                        if (!value) {
                            $(this).empty();
                            return;
                        }
                        var html = '<b>' + $('<div>').text(value.city).html() + '</b>, ' + $('<div>').text(value.street).html() + ' st., bld. ' + $('<div>').text(value.building).html();
                        $(this).html(html);
                    }
                });

                // $("#editableUser").find(".form-control").addClass(".input-sm");
            };

            $.fn.editable.defaults.mode = 'inline';
            init_x_editable();

            // $('#editableControls').on("click", "label", function() {
            //   xMode = $(this).find("input").val();
            //   $.fn.editable.defaults.mode = xMode;
            //   destory_x_editable();
            //   init_x_editable();
            // });
        }
    };
})(document, window, jQuery);
</script>