<title>栅格相册 - 页面示例</title>

<style>
.page-gallery-grid .widget {
    margin-bottom: 0;
}
.page-gallery-grid .widget, .page-gallery-grid .cover, .page-gallery-grid .cover-image {
    height: 100%;
    border-radius: 0;
}
.card{
    border-radius: 0;
}
</style>

<div class="page animation-fade">
    <div class="page-content p-0">
        <ul class="blocks no-space blocks-100 blocks-xxl-3 blocks-lg-2">
            <li class="card card-inverse overlay overlay-hover">
                <div class="cover overlay overlay-hover">
                    <img class="card-img overlay-scale overlay-figure" src="/static/images/photos/view-1.jpg" alt="...">
                    <div class="card-img-overlay overlay-background overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                            <div class="card-text card-divider">
                                <span>2016年8月18日</span>
                            </div>
                            <h3 class="card-title mb-20">View-1</h3>
                            <button type="button" class="btn btn-outline btn-inverse">更多信息</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card card-inverse overlay overlay-hover">
                <div class="cover overlay overlay-hover">
                    <img class="card-img overlay-scale overlay-figure" src="/static/images/photos/view-2.jpg" alt="...">
                    <div class="card-img-overlay overlay-background overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                            <div class="card-text card-divider">
                                <span>2016年8月18日</span>
                            </div>
                            <h3 class="card-title mb-20">View-2</h3>
                            <button type="button" class="btn btn-outline btn-inverse">更多信息</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card card-inverse overlay overlay-hover">
                <div class="cover overlay overlay-hover">
                    <img class="card-img overlay-scale overlay-figure" src="/static/images/photos/view-3.jpg" alt="...">
                    <div class="card-img-overlay overlay-background overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                            <div class="card-text card-divider">
                                <span>2016年8月18日</span>
                            </div>
                            <h3 class="card-title mb-20">View-3</h3>
                            <button type="button" class="btn btn-outline btn-inverse">更多信息</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card card-inverse overlay overlay-hover">
                <div class="cover overlay overlay-hover">
                    <img class="card-img overlay-scale overlay-figure" src="/static/images/photos/view-4.jpg" alt="...">
                    <div class="card-img-overlay overlay-background overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                            <div class="card-text card-divider">
                                <span>2016年8月18日</span>
                            </div>
                            <h3 class="card-title mb-20">View-4</h3>
                            <button type="button" class="btn btn-outline btn-inverse">更多信息</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card card-inverse overlay overlay-hover">
                <div class="cover overlay overlay-hover">
                    <img class="card-img overlay-scale overlay-figure" src="/static/images/photos/view-5.jpg" alt="...">
                    <div class="card-img-overlay overlay-background overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                            <div class="card-text card-divider">
                                <span>2016年8月18日</span>
                            </div>
                            <h3 class="card-title mb-20">View-5</h3>
                            <button type="button" class="btn btn-outline btn-inverse">更多信息</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card card-inverse overlay overlay-hover">
                <div class="cover overlay overlay-hover">
                    <img class="card-img overlay-scale overlay-figure" src="/static/images/photos/view-6.jpg" alt="...">
                    <div class="card-img-overlay overlay-background overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                            <div class="card-text card-divider">
                                <span>2016年8月18日</span>
                            </div>
                            <h3 class="card-title mb-20">View-6</h3>
                            <button type="button" class="btn btn-outline btn-inverse">更多信息</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card card-inverse overlay overlay-hover">
                <div class="cover overlay overlay-hover">
                    <img class="card-img overlay-scale overlay-figure" src="/static/images/photos/view-7.jpg" alt="...">
                    <div class="card-img-overlay overlay-background overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                            <div class="card-text card-divider">
                                <span>2016年8月18日</span>
                            </div>
                            <h3 class="card-title mb-20">View-7</h3>
                            <button type="button" class="btn btn-outline btn-inverse">更多信息</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card card-inverse overlay overlay-hover">
                <div class="cover overlay overlay-hover">
                    <img class="card-img overlay-scale overlay-figure" src="/static/images/photos/view-8.jpg" alt="...">
                    <div class="card-img-overlay overlay-background overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                            <div class="card-text card-divider">
                                <span>2016年8月18日</span>
                            </div>
                            <h3 class="card-title mb-20">View-8</h3>
                            <button type="button" class="btn btn-outline btn-inverse">更多信息</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card card-inverse overlay overlay-hover">
                <div class="cover overlay overlay-hover">
                    <img class="card-img overlay-scale overlay-figure" src="/static/images/photos/view-9.jpg" alt="...">
                    <div class="card-img-overlay overlay-background overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                            <div class="card-text card-divider">
                                <span>2016年8月18日</span>
                            </div>
                            <h3 class="card-title mb-20">View-9</h3>
                            <button type="button" class="btn btn-outline btn-inverse">更多信息</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card card-inverse overlay overlay-hover">
                <div class="cover overlay overlay-hover">
                    <img class="card-img overlay-scale overlay-figure" src="/static/images/photos/view-10.jpg" alt="...">
                    <div class="card-img-overlay overlay-background overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                            <div class="card-text card-divider">
                                <span>2016年8月18日</span>
                            </div>
                            <h3 class="card-title mb-20">View-10</h3>
                            <button class="btn btn-outline btn-inverse" type="button">更多信息</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card card-inverse overlay overlay-hover">
                <div class="cover overlay overlay-hover">
                    <img class="card-img overlay-scale overlay-figure" src="/static/images/photos/view-11.jpg" alt="...">
                    <div class="card-img-overlay overlay-background overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                            <div class="card-text card-divider">
                                <span>2016年8月18日</span>
                            </div>
                            <h3 class="card-title mb-20">View-11</h3>
                            <button class="btn btn-outline btn-inverse" type="button">更多信息</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card card-inverse overlay overlay-hover">
                <div class="cover overlay overlay-hover">
                    <img class="card-img overlay-scale overlay-figure" src="/static/images/photos/view-12.jpg" alt="...">
                    <div class="card-img-overlay overlay-background overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                            <div class="card-text card-divider">
                                <span>2016年8月18日</span>
                            </div>
                            <h3 class="card-title mb-20">View-12</h3>
                            <button class="btn btn-outline btn-inverse" type="button">更多信息</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<script src="/vendor/matchHeight/dist/jquery.matchHeight-min.js"></script>
