<nav class="site-menubar site-menubar-dark">
    <div class="site-menubar-body">
        <div class="tab-content h-full" id="qadmin-navTabs">
              
            <div class="tab-pane animation-fade h-full active" id="qadmin-navTabsItem-2" role="tabpanel">
                <%- include('./components.html') %>
            </div>
            <div class="tab-pane animation-fade h-full" id="qadmin-navTabsItem-3" role="tabpanel">
                <%- include('./pages.html') %>
            </div>
            <div class="tab-pane animation-fade h-full" id="qadmin-navTabsItem-4" role="tabpanel">
                <%- include('./tables.html') %>
            </div>
            <div class="tab-pane animation-fade h-full" id="qadmin-navTabsItem-5" role="tabpanel">
                <%- include('./forms.html') %>
            </div>
            <div class="tab-pane animation-fade h-full" id="qadmin-navTabsItem-6" role="tabpanel">
                <%- include('./charts.html') %>
            </div>
            <div class="tab-pane animation-fade h-full" id="qadmin-navTabsItem-7" role="tabpanel">
                <%- include('./menu.html') %>
            </div>
            <div class="tab-pane animation-fade h-full" id="qadmin-navTabsItem-8" role="tabpanel">
                <%- include('./system.html') %>
            </div>

        </div>
    </div>
</nav>