<ul class="nav navbar-toolbar nav-tabs" role="tablist">
    <li class="nav-item" style="">
        <a class="nav-link" data-toggle="tab" href="#qadmin-navTabsItem-2" aria-controls="qadmin-navTabsItem-2" role="tab" aria-expanded="false">
            <i class="icon wb-library"></i>
            <span>UI 示例</span>
        </a>
    </li>
    <li class="nav-item" style="">
        <a class="nav-link" data-toggle="tab" href="#qadmin-navTabsItem-3" aria-controls="qadmin-navTabsItem-3" role="tab" aria-expanded="false">
            <i class="icon wb-desktop"></i>
            <span>页面示例</span>
        </a>
    </li>
    <li class="nav-item" style="">
        <a class="nav-link" data-toggle="tab" href="#qadmin-navTabsItem-4" aria-controls="qadmin-navTabsItem-4" role="tab" aria-expanded="false">
            <i class="icon wb-table"></i>
            <span>表格示例</span>
        </a>
    </li>
    <li class="nav-item" style="">
        <a class="nav-link" data-toggle="tab" href="#qadmin-navTabsItem-5" aria-controls="qadmin-navTabsItem-5" role="tab" aria-expanded="false">
            <i class="icon wb-order"></i>
            <span>表单示例</span>
        </a>
    </li>
    <li class="nav-item" style="">
        <a class="nav-link" data-toggle="tab" href="#qadmin-navTabsItem-6" aria-controls="qadmin-navTabsItem-6" role="tab" aria-expanded="false">
            <i class="icon wb-pie-chart"></i>
            <span>统计图表</span>
        </a>
    </li>
    <li class="nav-item" style="">
        <a class="nav-link" data-toggle="tab" href="#qadmin-navTabsItem-7" aria-controls="qadmin-navTabsItem-7" role="tab" aria-expanded="false">
            <i class="icon fa fa-bars"></i>
            <span>菜单示例</span>
        </a>
    </li>
    <li class="nav-item" style="">
        <a class="nav-link" data-toggle="tab" href="#qadmin-navTabsItem-8" aria-controls="qadmin-navTabsItem-8" role="tab" aria-expanded="false">
            <i class="icon wb-settings"></i>
            <span>系统管理</span>
        </a>
    </li>
    <li class="nav-item dropdown" id="qadmin-navbarSubMenu">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:;" data-animation="slide-bottom">
            更多
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item no-menu" href="/system/site_map.html" target="_blank" data-pjax>
                <i class="icon wb-list-numbered"></i>
                <span>网站地图</span>
            </a>
            <a class="dropdown-item no-menu" href="/system/menu.html" target="_blank" data-pjax>
                <i class="icon wb-wrench"></i>
                <span>菜单管理</span>
            </a>
            <div class="dropdown-divider" role="presentation"></div>
            <div class="dropdown-submenu">
                <a class="dropdown-item no-menu" href="javascript:;" tabindex="-1">
                    <i class="icon wb-random" aria-hidden="true"></i>
                    <span>切换版本</span>
                </a>
                <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item no-menu" href="/" role="menuitem">Iframe 版</a>
                    <a class="dropdown-item no-menu" href="/?&pjax=true" role="menuitem">Pjax
                        版</a>
                </div>
            </div>
            <div class="dropdown-submenu">
                <a class="dropdown-item no-menu" href="javascript:;" tabindex="-1">
                    <i class="icon wb-random" aria-hidden="true"></i>
                    <span>切换布局</span>
                </a>
                <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item no-menu change-layout" href="/" data-layout="base" role="menuitem">Base 布局</a>
                    <a class="dropdown-item no-menu change-layout" href="/?&theme=topbar" data-layout="topbar" role="menuitem">Topbar 布局</a>
                </div>
            </div>
        </div>
    </li>
</ul>