<title>首页</title>

<link rel="stylesheet" href="/vendor/themify-icons/css/themify-icons.css">

<style>
.bootbox .modal-dialog {
	width: 360px
}

.page-index .row .panel {
	height: -webkit-calc(100% - grid-gutter-width);
	height: calc(100% - grid-gutter-width)
}

.page-index .account-info {
	border-bottom: none;
	overflow: visible;
	vertical-align: middle
}

.page-index .account-info .media-right {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center
}

@media (max-width:991.98px) {
	.page-index .account-info .media-right {
		display: none
	}
}

.page-index .introduce-info {
	height: -webkit-calc(100% - 20px);
	height: calc(100% - 20px)
}

.page-index .introduce-info .media {
	border-bottom: none;
	margin: 0
}

.page-index .introduce-info .media .media-left {
	width: 160px
}

.page-index .introduce-info .media .media-body {
	padding-left: 30px
}

.page-index .introduce-info .media .media-body .btn {
	display: inline-block;
	margin: 3px 5px 3px 0
}

.page-index .changelog-info .time-line {
	list-style: none;
	padding-left: 0
}

.page-index .changelog-info .time-line:before {
	content: ' ';
	position: absolute;
	top: 15px;
	bottom: 45px;
	background: #e4eaec;
	left: 131px;
	width: 2px
}

@media (max-width:479.98px) {
	.page-index .changelog-info .time-line:before {
		left: 126px
	}
}

.page-index .changelog-info .time-line>li {
	position: relative;
	margin: 15px 0;
	width: 100%;
	overflow: hidden;
	line-height: 24px
}

.page-index .changelog-info .time-line>li:before {
	content: ' ';
	width: 14px;
	height: 14px;
	display: block;
	border-radius: 50%;
	border: 2px solid #e4eaec;
	position: absolute;
	background: #fff;
	left: 100px;
	top: 5px
}

.page-index .changelog-info .time-line>li:first-child:before {
	border-color: #99f2c2;
	background: #28d17c
}

.page-index .changelog-info .time-line>li:last-child:before {
	border-color: #ffbfc1;
	background: #ff666b
}

.page-index .changelog-info .time-line>li time {
	float: left
}

.page-index .changelog-info .time-line>li h5 {
	float: left;
	line-height: 24px;
	margin: 0 0 0 55px
}

.page-index .part-info .panel {
	height: -webkit-calc(100% - 20px);
	height: calc(100% - 20px)
}

.page-index .part-info .panel-body .part-desc {
	text-align: center
}

.page-index .part-info .panel-body .part-desc img {
	height: 100px;
	margin: 15px 0 25px
}

.page-index .part-info .panel-body .badge-content {
	margin: 20px 0 10px
}

.page-index .part-info .panel-body .badge-content .badge {
	display: inline-block;
	margin: 3px 0
}

@media (max-width:991.98px) {
	.introduce-info .media-left {
		display: none
	}

	.introduce-info .media-body {
		padding-left: 0!important
	}
}
</style>

<div class="page page-full animation-fade page-index">
    <div class="page-content">
        <div class="alert alert-success alert-dismissible padding-15" role="alert">
            <button type="button" class="close margin-right-20" data-dismiss="alert" aria-label="关闭">
                <span aria-hidden="true">×</span>
            </button>
            <div><i class="icon wb-bell" aria-hidden="true"></i> iframe版通过iframe实现标签页及局部加载等，增加了标签页的本地历史记录和地址栏URL的动态响应等，并重点优化了弹层类组件等，推荐使用。</div>
            <p class="margin-top-10">
                <a class="btn btn-sm btn-danger" href="#" target="_blank">详细信息</a>
                <a class="btn btn-sm btn-primary" href="#">在线体验</a>
            </p>
        </div>
        <div class="media account-info">
            <div class="media-left">
                <div class="avatar avatar-online">
                    <img src="/static/images/avatar_2.svg" alt="admin">
                    <i class="avatar avatar-busy"></i>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    欢迎您，Admin
                    <small>超级管理员</small>
                </h4>
                <p>
                    <i class="icon icon-color wb-bell" aria-hidden="true"></i> 这是您第 124 次登录，上次登录日期：2016-12-12
                    12:12:00，详细信息请查看
                    <a data-pjax href="/system/account/log/index.html" target="_blank">日志</a>
                    ，如果不是您本人登录，请及时
                    <a data-pjax href="/system/password.html" target="_blank">修改密码</a>
                    。
                </p>
            </div>
            <div class="media-right">
                <a href="/system/account.html" data-pjax target="_blank" class="btn btn-outline btn-success btn-outline btn-sm">账户管理</a>
            </div>
        </div>
        <div class="row margin-top-10" data-plugin="matchHeight" data-by-row="true">
            <div class="col-md-7">
                <div class="panel introduce-info">
                    <div class="panel-heading">
                        <ul class="panel-actions">
                            <li>
                                <a href="http://docs.qadmin.com/pjax/" target="_blank">更多</a>
                            </li>
                        </ul>
                        <h1 class="panel-title">基本介绍</h1>
                    </div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="/static/images/computer.svg" alt="..." width="100%">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">QAdmin 通用管理系统快速开发框架</h3>
                                <ul class="list-group list-group-full">
                                    <li class="list-group-item">QAdmin 是一个基于最新 Web
                                        技术的企业级通用管理系统快速开发框架，可以帮助企业极大的提高工作效率，节省开发成本，提升品牌形象。
                                    </li>
                                    <li class="list-group-item">您可以 QAdmin 为基础，快速开发各种MIS系统，如CMS、OA、CRM、ERP、POS等。</li>
                                    <li class="list-group-item">QAdmin 紧贴业务特性，涵盖了大量的常用组件和基础功能，最大程度上帮助企业节省时间成本和费用开支。</li>
                                </ul>

                                <div>
                                    <a href="http://www.qadmin.com/" class="btn btn-success btn-sm btn-outline btn-round" target="_blank">
                                        返回官网
                                    </a>
                                    <a href="http://docs.qadmin.com/pjax/" class="btn btn-danger btn-sm btn-outline btn-round" target="_blank">
                                        开发文档
                                    </a>
                                    <a href="http://www.qadmin.com/about" class="btn btn-dark btn-sm btn-outline btn-round" target="_blank">
                                        服务协议
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel changelog-info">
                    <div class="panel-heading">
                        <ul class="panel-actions">
                            <li>
                                <a href="http://docs.qadmin.com/pjax/logs/" target="_blank">更多</a>
                            </li>
                        </ul>
                        <h1 class="panel-title">版本信息</h1>
                    </div>
                    <div class="panel-body">
                        <ul class="time-line">
                            <li>
                                <time datatime="2017-09-12">2017-09-12</time>
                                <h5>
                                    <a href="http://docs.qadmin.com/pjax/logs/v1.2.0/" target="_blank">QAdmin v1.2.0 版发布</a>
                                </h5>
                            </li>
                            <li>
                                <time datatime="2017-06-26">2017-06-26</time>
                                <h5>
                                    <a href="http://docs.qadmin.com/pjax/logs/v1.1.0/" target="_blank">QAdmin v1.1.0 版发布</a>
                                </h5>
                            </li>
                            <li>
                                <time datatime="2017-06-13">2017-06-13</time>
                                <h5>
                                    <a href="http://docs.qadmin.com/pjax/logs/v1.0.1/" target="_blank">QAdmin v1.0.1 维护版发布</a>
                                </h5>
                            </li>
                            <li>
                                <time datatime="2017-04-25">2017-04-25</time>
                                <h5>
                                    <a href="http://docs.qadmin.com/pjax/logs/v1.0.0/" target="_blank">QAdmin v1.0.0 正式发布</a>
                                </h5>
                            </li>
                            <li>
                                <time datatime="2017-03-16">2017-03-16</time>
                                <h5>
                                    QAdmin v1.0.0 RC 正式发布
                                </h5>
                            </li>
                            <li>
                                <time datatime="2017-02-21">2017-02-21</time>
                                <h5>QAdmin v1.0.0 Beta1 发布</h5>
                            </li>
                            <li>
                                <time datatime="2016-08-27">2016-08-27</time>
                                <h5>QAdmin v0.1.1 - v0.9.5 开发</h5>
                            </li>
                            <li>
                                <time datatime="2016-07-21">2016-07-21</time>
                                <h5>QAdmin v0.1.0 Beta 开发完成</h5>
                            </li>
                            <li>
                                <time datatime="2016-05-07">2016-05-07</time>
                                <h5>QAdmin v0.0.1 Alpha 开发完成</h5>
                            </li>
                            <li>
                                <time datatime="2015-12-14">2015-12-14</time>
                                <h5>QAdmin 正式立项</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <ul class="panel-actions">
                            <li>
                                <a href="http://www.qadmin.com/buy" target="_blank">现在购买</a>
                            </li>
                        </ul>
                        <h3 class="panel-title">购买流程</h3>
                    </div>
                    <div class="panel-body">
                        <div class="steps row steps-xs">
                            <div class="step col-md-3">
                                <span class="step-number">1</span>
                                <div class="step-desc">
                                    <span class="step-title">购买</span>
                                    <p>选择您需要购买的组件及服务</p>
                                </div>
                            </div>
                            <div class="step col-md-3">
                                <span class="step-number">2</span>
                                <div class="step-desc">
                                    <span class="step-title">付款</span>
                                    <p>在线或通过线下汇款支付费用</p>
                                </div>
                            </div>
                            <div class="step col-md-3 done">
                                <span class="step-number">3</span>
                                <div class="step-desc">
                                    <span class="step-title">完成</span>
                                    <p>索取发票，开具合同、下载源码</p>
                                </div>
                            </div>
                            <div class="step col-md-3">
                                <span class="step-number">4</span>
                                <div class="step-desc">
                                    <span class="step-title">售后</span>
                                    <p>工单支持、在线反馈、售后客服</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row part-info" data-plugin="matchHeight" data-by-row="true">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xlg-2" style="height: 324.6px;">
                <div class="panel">
                    <div class="panel-body text-center">
                        <div class="part-desc">
                            <img src="/static/images/ui_2.svg">
                            <h4>UI 示例</h4>
                        </div>
                        <div class="badge-content">
                            <span class="badge badge-default badge-round badge-outline">布局</span>
                            <span class="badge badge-default badge-round badge-outline">基本</span>
                            <span class="badge badge-default badge-round badge-outline">进阶</span>
                            <span class="badge badge-default badge-round badge-outline">组件</span>
                            <span class="badge badge-default badge-round badge-outline">小工具</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xlg-2" style="height: 324.6px;">
                <div class="panel">
                    <div class="panel-body text-center">
                        <div class="part-desc">
                            <img src="/static/images/page.svg">
                            <h4>页面示例</h4>
                        </div>
                        <div class="badge-content">
                            <span class="badge badge-default badge-round badge-outline">首页</span>
                            <span class="badge badge-default badge-round badge-outline">常用</span>
                            <span class="badge badge-default badge-round badge-outline">团队</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xlg-2" style="height: 324.6px;">
                <div class="panel">
                    <div class="panel-body text-center">
                        <div class="part-desc">
                            <img src="/static/images/table.svg">
                            <h4>表格示例</h4>
                        </div>
                        <div class="badge-content">
                            <span class="badge badge-default badge-round badge-outline">基本表格</span>
                            <span class="badge badge-default badge-round badge-outline">树形表格</span>
                            <span class="badge badge-default badge-round badge-outline">DataTable</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xlg-2" style="height: 324.6px;">
                <div class="panel">
                    <div class="panel-body text-center">
                        <div class="part-desc">
                            <img src="/static/images/form.svg">
                            <h4>表单示例</h4>
                        </div>
                        <div class="badge-content">
                            <span class="badge badge-default badge-round badge-outline">基本</span>
                            <span class="badge badge-default badge-round badge-outline">质感</span>
                            <span class="badge badge-default badge-round badge-outline">高级</span>
                            <span class="badge badge-default badge-round badge-outline">布局</span>
                            <span class="badge badge-default badge-round badge-outline">向导</span>
                            <span class="badge badge-default badge-round badge-outline">验证</span>
                            <span class="badge badge-default badge-round badge-outline">预设</span>
                            <span class="badge badge-default badge-round badge-outline">编辑</span>
                            <span class="badge badge-default badge-round badge-outline">编辑器</span>
                            <span class="badge badge-default badge-round badge-outline">图片裁剪</span>
                            <span class="badge badge-default badge-round badge-outline">文件上传</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xlg-2" style="height: 297.4px;">
                <div class="panel">
                    <div class="panel-body text-center">
                        <div class="part-desc">
                            <img src="/static/images/chart.svg">
                            <h4>图表示例</h4>
                        </div>
                        <div class="badge-content">
                            <span class="badge badge-default badge-round badge-outline">简单图表</span>
                            <span class="badge badge-default badge-round badge-outline">ECharts</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xlg-2" style="height: 297.4px;">
                <div class="panel">
                    <div class="panel-body text-center">
                        <div class="part-desc">
                            <img src="/static/images/setting.svg">
                            <h4>系统设置</h4>
                        </div>
                        <div class="badge-content">
                            <span class="badge badge-default badge-round badge-outline">菜单</span>
                            <span class="badge badge-default badge-round badge-outline">用户</span>
                            <span class="badge badge-default badge-round badge-outline">日志</span>
                            <span class="badge badge-default badge-round badge-outline">黑名单</span>
                            <span class="badge badge-default badge-round badge-outline">系统</span>
                            <span class="badge badge-default badge-round badge-outline">账户</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/vendor/matchHeight/dist/jquery.matchHeight-min.js"></script>
